body {
    font-size: 14px;
}


/*estilos academia tarjetas*/

.bg-fondo-img {
    height: 133px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 8px;
}

.tag-tarjeta {
    display: flex;
}

.tag-tarjeta li {
    font-size: 12px;
    background-color: #fedb09;
    color: #000;
    padding: 3px;
    border-radius: 3px;
    font-weight: 700;
}

.autor-curso {
    font-size: 12px;
    background-color: #fedb09;
    color: #000;
    padding: 3px;
    border-radius: 3px;
    font-weight: 700;
}


/*botones*/

.boton-amarillo {
    background-color: #fedb09;
    padding: 3px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .90rem;
    font-weight: 700;
}


/*botones*/


/*titulos*/

.titulo-academia::after {
    content: '';
    display: block;
    background-color: #fedb09;
    height: 8px;
    margin-top: 7px;
    width: 5%;
}


/*titulos*/


/*cards*/

.hover.card {
    -webkit-box-shadow: 0 0 0px 0px #949494;
    box-shadow: 0 0 0px 0px #949494;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.hover.card:hover {
    -webkit-box-shadow: 0 0 15px 1px #949494;
    box-shadow: 0 0 15px 1px #949494;
}


/*cards*/


/*backgrounds de tarjetas*/

#ces-que-aprenderas .bg-fondo-img {
    height: 133px;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 8px;
    background-position: center;
}


/*backgrounds de tarjetas*/


/*estlos footer*/

.titulo-menu-footer {
    color: #fed500;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer .widget_academia_footer {
    color: #fff;
}

footer .widget_academia_footer a {
    color: #fff;
}


/*estilos footer*/


/*bg casa*/

.bg-casa {
    background-image: url('../../img/bg-casa.png');
    background-size: 100%;
    background-repeat: no-repeat;
}


/*bg casa*/


/*estilos elearning*/

ul.learn-press-nav-tabs .course-nav.active::before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 0px!important;
    background: var(--lp-primary-color);
    content: "";
}

#learn-press-course-tabs .course-nav label {
    background-color: #D5D5D5 !important;
    color: #000;
}

#learn-press-course-tabs input[name="learn-press-course-tab-radio"]:nth-child(1):checked~.learn-press-nav-tabs .course-nav:nth-child(1) label {
    color: var(--lp-primary-color);
    background: #000!important;
    border-radius: 5px 0px 0px 4px !important;
}

#learn-press-course-tabs input[name="learn-press-course-tab-radio"]:nth-child(2):checked~.learn-press-nav-tabs .course-nav:nth-child(2) label {
    background: #000!important;
}

#learn-press-course-tabs input[name="learn-press-course-tab-radio"]:nth-child(3):checked~.learn-press-nav-tabs .course-nav:nth-child(3) label {
    background: #000!important;
}

#learn-press-course-tabs input[name="learn-press-course-tab-radio"]:nth-child(4):checked~.learn-press-nav-tabs .course-nav:nth-child(4) label {
    background: #000!important;
}

#learn-press-course-tabs input[name="learn-press-course-tab-radio"]:nth-child(5):checked~.learn-press-nav-tabs .course-nav:nth-child(5) label {
    background: #000!important;
}

#learn-press-course-tabs input[name="learn-press-course-tab-radio"]:nth-child(6):checked~.learn-press-nav-tabs .course-nav:nth-child(6) label {
    background: #000!important;
}

#learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section-header {
    background-color: #000!important;
    text-align: center;
    padding: 1rem!important;
    color: #fff;
    border-radius: 5px 5px 0px 0px!important;
}

#learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section-header h3 {
    color: #fff!important;
}


/*estilos elearning*/